/* Fuente y cursor de macOS */ 
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    cursor: url ('https://cdn.custom-cursor.com/db/cursor/32/mac-pointer.cur'), auto;
    background-color: #f5f5f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Esto hace que imita una ventana de macOS */
.mac-window {
    background-color: #fff;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
/* Botones para la ventana de macOS */
.mac-buttons{
    display: flex;
    gap: 8px;
    padding: 10px;
    background: #e0e0e0;
}
.mac-buttons span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}
.close {background: #ff5f57;}
.minimize {background: #ffbd2e;}
.zoom {background: #28c940;}
/* Esto es el contenido del CV (seguramente haga mas cambios en el código) */
.cv-contenido{
    padding: 20px;
    text-align: center;
}
h1 strong{
    color: #333;
}
/* Estilo mejorado para el modo oscuro */
body.dark {
    background-color: #121212;
    color: white;
}
body.dark a body.dark h2 {
    color: #61dafb; /* azul claro para darle más visibilidad (segunda prueba para ver si me gusta el modo oscuro con este color en la tipografía) */
}
/* switch con el estilo IOS */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
